Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Login==0.6.3
SQLAlchemy>=2.0.36,<3.0
psycopg[binary]>=3.2,<4
python-dotenv==1.0.1
requests==2.32.3
gunicorn==23.0.0

# PDF / Contratos (backend pydyf)
WeasyPrint==63.1
pydyf==0.11.0
tinycss2>=1.4.0
cssselect2>=0.7.0
pyphen>=0.14.0
fonttools>=4.51.0
Pillow>=10.4.0

# (Se você usa em outra parte do projeto)
PyPDF2==3.0.1

# Azure
azure-identity==1.17.1
azure-keyvault-secrets==4.7.0
azure-storage-blob==12.20.0

# deps nativas usadas por libs acima
cffi>=1.15.1
pycparser
